footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: darkslateblue;
  height: auto;
  padding: 20px;
  border-radius: 15px;
  position: fixed;
  bottom: 0;
  width: 95%;
}